@page "/" 
@using BlazorApp.Auth
@inject NavigationManager NavMgr 
@inject AuthenticationStateProvider AuthProvider

<PageTitle>Home</PageTitle> 

<h1>Reddit Clone</h1> 

<AuthorizeView> 
    <Authorized> 
        <h3>Hello, @context.User.Identity.Name</h3> 
    </Authorized> 
    <NotAuthorized> 
        lol you are not logged in! 
    </NotAuthorized> 
</AuthorizeView> 

Here you can browse interesting posts. 
<button @onclick='() => NavMgr.NavigateTo("login")'>go to login</button>
<button @onclick='() => ((SimpleAuthProvider)AuthProvider).LogoutAsync()'>logout</button>