@page "/post/{id:int}"
@using BlazorApp.Services
@using ClassLibrary1
@using System.Security.Claims

@rendermode InteractiveServer
@inject IPostService postService
@inject ICommentService commentService

@if(post is not null){
    <h3>Title: @post.Title</h3> <br />
    <h3>Author: @post.UserId</h3> <br />
    @post.Body<br>
    @if(userId == post.UserId){
    <button>Edit Post</button>
    }

}else{
    <h3>Post is null</h3>
}


@* TODO: make post.id parameter nullsafe *@
<AddCommentView postId=@post.Id></AddCommentView>

@if (comments is not null){ 
    <h3>Comments</h3>
@foreach(Comment comment in comments){
    <CommentView comment=comment></CommentView>
}
} 


@code {
    [Parameter]
    public int id { get; set; }
    public int userId {get; set;}

    public Post? post;
    public List<Comment>? comments;
    [CascadingParameter] public Task<AuthenticationState> State { get; set; }

    protected async override Task OnInitializedAsync()
    {
        post = await postService.GetPostByIdAsync(id);
        Console.WriteLine(post.Title);
        comments = await commentService.GetCommentsByPostIdAsync(id);
        AuthenticationState authenticationState = await State; 
        ClaimsPrincipal claimsPrincipal = authenticationState.User; 
        if(claimsPrincipal.Identity is null || !claimsPrincipal.Identity.IsAuthenticated) 
        { 
            // the user is not logged in return; 
        } 
        string? userName = claimsPrincipal.Identity?.Name; 
        IEnumerable<Claim> claims = claimsPrincipal.Claims; 
        string userIdAsString = claims.Single(c => c.Type == "Id").Value; 
        userId = int.Parse(userIdAsString);
        
    }
}
